<div ng-controller="DrinksListController" class='drinkpageback'>
    <div class="container">
        <div class="apps row">
            <div class='col-lg-2'ng-repeat="drink in drinks" ng-click='getId(drink.id)'>
                <div class='drink'>
                    <h1 class="item-name ">{{drink.name}}</h1>
                    <img class='drink-img-reg'ng-src='http://assets.absolutdrinks.com/drinks/transparent-background-white/300x300/{{drink.id}}.png'></img>
                    <!-- <p>{{drink.rating}}
                        <h3>Served In</h3>
                        <p>{{drink.servedIn.text}}</p>
                        <h2>Ingredients</h2>
                        <p>{{drink.ingredients[0].textPlain}}</p>
                        <p>{{drink.ingredients[1].textPlain}}</p>
                        <p>{{drink.ingredients[2].textPlain}}</p>
                        <p>{{drink.ingredients[3].textPlain}}</p>
                        <p>{{drink.ingredients[4].textPlain}}</p>

                        <h3>Instructions</h3>
                        <p>{{drink.descriptionPlain}}</p> -->
                        <button>Had one</button>
                </div>
            </div>
        </div>

        <button ng-click="prevpage()">Prev</button>
        <button ng-click='nextpage()'>Next</button>

    </div>
</div>