<div ng-controller="HomeController"> 
        <div class="container-fluid">
            <div class="row">
                <div id="landing">
                    <h1 id="hometextedit" class="col-xs-12 col-sm-12 col-md-12">Drunkards and Friends!</h1>
                        
                    <div class="button-container">
                            <a id="homebtn" class="btn btn-default" href="#login" role="button">Login</a>
                            
                        <h3 id="hometextedit" class="col-xs-12 col-sm-12 col-md-12">Come have a drink with us!!!</h3>                   
                    </div>
                </div>
            </div>
        </div>
    </div>

