<div ng-controller="HomeController"> 
        <div class="container-fluid">
            <div class="row">
                <div id="landing">
                    <h1 id="hometextedit" class="col-xs-12 col-sm-12 col-md-12">Drunkards and Friends!</h1>
                        
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                    
                        
                    <!-- <a id="homeloginbtn" class="col-xs-12 col-sm-12 col-md-12" class="btn btn-default" href="#login" role="button">Login Here</a> -->
                    <div class="button-container">
                        <button ng-click="login()" class="btn btn-default" class="row" type="submit">Login</button>
                        <h3 id="hometextedit" class="col-xs-12 col-sm-12 col-md-12">Come have a drink with us!!! Enter above</h3>                   
                    </div>
                </div>
            </div>
        </div>
    </div>

