<div ng-controller="HomeController"> 
    <div class="container-fluid">
        <div class="row">
            <div id="landing">
                <h1 id="hometextedit" class="col-xs-12 col-sm-12 col-md-12">Drunkards and Friends!</h1>
                    
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                
                    <div class="row">
                <a id="homeloginbtn" class="btn btn-default btn-lg" href="#login" role="button">Login Here</a>
                    </div>
            </div>
        </div>
    </div>
</div>

