<div ng-controller="loginController">
        <div id="landinglogin">
    <div class="login-container" id="loginlogincon">
        <form action="#/user" method="POST">
            <div class="form-group" id="loginformgrp">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group" id="loginformgrp">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" minlength="6" maxlength="14" size="14" required>
            </div>
            <div class="checkbox">
                <label id="btnchkbx"><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" href="#drinks" class="btn btn-primary btn-sm" style="margin-top: 2em">Submit</button>
        </form>
    </div>
</div>
</div>