<div ng-scope="userController">

    <!-- <div id="jumbotron" class="container">
        <span id="userfont" >Your Profile</span>
        <div>
            <img id="imgpro" src="../assets/Dr_Rich_armchair.png" alt="Profile Picture">
            <p class="useredit">Profile Description:</p>
            <p class="useredit">Try this: </p>
        </div>
    </div> -->
    <div class="jumbotron" style="padding:0; opacity:0.9;">
        <img ng-src="../assets/whiskeyyyy.png" style="width:100%">
    </div>
    <div class='mysinglecontainer'>
        <div class="card" style="float:left">
            <img ng-src="../assets/Dr_Rich_armchair.png" class="jumbotronImg">
            <div class="cardContainer">
                <h1>John Doe</h1>
                <p class="job">CEO & Founder</p>
                <a href="https://twitter.com/?lang=en" target="_blank" style="color:black"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/" target="_blank" style="color:black"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.facebook.com/" target="_blank" style="color:black"><i class="fa fa-facebook"></i></a>
                <a href="https://www.snapchat.com/" target="_blank" style="color:black"><i class="fa fa-snapchat-ghost"></i></a>
            </div>
        </div>
        <div class='level'>
            <h1 id='levellabel'>Level:</h1>
            <div class='w3-grey levelcontainer w3-round'>
                Exp:
                <div class="w3-blue w3-round innerlvl" style="height:24px;width:100%"></div>
            </div>
        </div>
        <div class="achieves">


            <h2 class='achievesmiddle'>Favorite Drinks</h2>
            <div class='achievesinner'>
            <img/>
            <img/>
            <img/>
            </div>
            <div class='achievesmiddle'>
                <h3>About Me:</h3>
                <div class='achievesinner'>
                    <p>ABOUT BODYFKLDJFLKDJFLSJDOIUFHJSDOIFJSJFSOIDFJSODFJSDLKF NEED TO PUT A BACKGORUND OR DCHANGE COLOR FROM
                        WHITE ON P's</p>
                </div>
            </div>
        </div>
    </div>