<div ng-scope="userController">

    <!-- <div id="jumbotron" class="container">
        <span id="userfont" >Your Profile</span>
        <div>
            <img id="imgpro" src="../assets/Dr_Rich_armchair.png" alt="Profile Picture">
            <p class="useredit">Profile Description:</p>
            <p class="useredit">Try this: </p>
        </div>
    </div> -->
    <div class="jumbotron" style="padding:0; opacity:0.9;">
        <img ng-src="../assets/whiskeyyyy.png" style="width:100%">    
    </div>
    <div class="card" style="float:left">
        <img ng-src="../assets/Dr_Rich_armchair.png" class="jumbotronImg">
        <div class="cardContainer">
            <h1>John Doe</h1>
            <p class="job">CEO & Founder</p>
            <a href="https://twitter.com/?lang=en" target="_blank" style="color:black"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/" target="_blank" style="color:black"><i class="fa fa-linkedin"></i></a>  
            <a href="https://www.facebook.com/" target="_blank" style="color:black"><i class="fa fa-facebook"></i></a> 
            <a href="https://www.snapchat.com/" target="_blank" style="color:black"><i class="fa fa-snapchat-ghost"></i></a> 
        </div>
    </div>
    <div class="achieves">
        
    </div>
</div>