<div ng-scope="userController">

    <!-- <div id="jumbotron" class="container">
        <span id="userfont" >Your Profile</span>
        <div>
            <img id="imgpro" src="../assets/Dr_Rich_armchair.png" alt="Profile Picture">
            <p class="useredit">Profile Description:</p>
            <p class="useredit">Try this: </p>
        </div>
    </div> -->
    <div class="jumbotron" style="padding:0; opacity:0.9;">
        <img ng-src="../assets/whiskeyyyy.png" style="width:100%">
    </div>
    <div class='mysinglecontainer'>
        <div class="card" style="float:left; margin-left: 16em;">
            <img ng-src="../assets/Dr_Rich_armchair.png" class="jumbotronImg">
            <div class="cardContainer">
                <h1>Johnny Doe</h1>
                <p class="job">Avid Drinker and Bar Tipper</p>
                <a href="https://twitter.com/?lang=en" target="_blank" style="color:black"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/" target="_blank" style="color:black"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.facebook.com/" target="_blank" style="color:black"><i class="fa fa-facebook"></i></a>
                <a href="https://www.snapchat.com/" target="_blank" style="color:black"><i class="fa fa-snapchat-ghost"></i></a>
            </div>
        </div>
        <div class='level'>
            <h1 id='levellabel'>Level:</h1>
            <div class='w3-grey levelcontainer w3-round'>
                Exp:
                <div class="w3-blue w3-round innerlvl" style="height:24px;width:100%"></div>
            </div>
        </div>
        <div class="achieves">


            <h2 class='achievesmiddle'>Favorite Drinks:</h2>
            <div class='achievesinner' style="font-size:20px; font-family:PlayfairDisplay;">
                
                    <ol>Jack w/ ice</ol>
                    <ol>Bloody Mary</ol>
                    <ol>Gin and Tonic</ol>
                    <ol>Apple Margarita</ol>
                    <ol>Long Island Ice Tea</ol>
                    <ol>Whiskey Sour</ol>
                    <ol>Extra Dry Martini</ol>

                
            <!-- <img/>
            <img/>
            <img/> -->
            </div>
            <div class='achievesmiddle'>
                <h3>About Me:</h3>
                <div class='achievesinner'>
                    <div id="userPtextcolor" style="font-size:20px; font-family:PlayfairDisplay; padding-top: 1em;">

                            <ol>Nickname: Jack</ol>
                            <ol>Favorite Bar: The Bloody Mary</ol>
                            <ol>Favorite Bartender: Jessica</ol>
                            <ol>Favorite Tip: $5</ol>
                            <ol>Favorite Song: "Knuck if you Buck"</ol>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>