<div ng-controller="SingleController">
    <div class="container">
        <div class="single-item">
            <div class="col-md-6">
                
            </div>
                <h1 class="product-price">{{ oneItem.price  }}</h1>
                <h1 class="product-title">{{ oneItem.title }}</h1><br/>
                <h3 class="single-item-name"> {{oneItem.name}}</h3>
                    <p class="item-description"> {{ oneItem.description}} </p>
                        <ul>
                        <li class="li-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </li>
                        <li class="li-text">Ut varius mauris non pulvinar luctus.
                        </li>
                        <li class="li-text">Donec sollicitudin lorem id leo varius egestas.
                        </li>
                    </ul>
                <button ng-click="saveToCart(oneItem)" class="btn btn-warning center">Add to cart</button>
            </div>
        </div>
    </div>