<div ng-controller="SingleDrinkController">
  <div class="mysinglecontainer">
    <div class="single-item">
      <div class="single-item-left">
          <img class='singlepicture' ng-src='http://assets.absolutdrinks.com/drinks/transparent-background-white/{{singledrink.id}}.png'
          onerror="this.src='https://vignette2.wikia.nocookie.net/payday/images/5/59/Empty.png/revision/latest?cb=20131030195648'; this.classList += ' default-image'"/>
          <h1 class="single-item-name  singletitle" ng-show='loadingdata'> {{singledrink.name}}</h1>
      </div>
      <div class="napkin"></div>
      <div class="single-item-right">
          <div class='singleIngredients singlefont'>
              <h3 class=" singlelarge" ng-show='loadingdata'>Ingredients</h3>
              <h1 class='detailsmall' ng-show='loadingdata'>m</h1>
              <div class='ingredientsinner'>
                <p class="singlefont" ng-show='loadingdata'>Served in: {{singledrink.servedIn.id}}</p>
                <p class="singlefont" ng-repeat="ingredient in singledrink.ingredients">{{ingredient.textPlain}}</p>
              </div>
          </div>
          <div class='singleinstructions singlefont'>
            <h3 class="singlefont singlelarge" ng-show='loadingdata'>Instructions</h3>
            <h1 class='detailsmall' ng-show='loadingdata'>m</h1>
            <p class="singlefont ingredientsinner">{{singledrink.descriptionPlain}}</p>
          </div>
      </div>
    
    </div>
    <div class='buttonwrangler'>
      <span ng-click='insertdata()' class='glyphicon glyphicon-ok-sign hadbutton' id='hadbutton'></span>
      <span class="glyphicon glyphicon-play-circle playbutton" id='playbutton'data-toggle="modal" data-target="#myModal"></span>
      </div>

    <div class="modal fade popup" id="myModal" role="dialog" >
        <div class="modal-dialog">
          <div class="modal-content" id='modalcontent'>
            <div class="modal-header">
              
              <h4 class=" popup-title modal-title" id='modaltitle'>How to make a {{singledrink.name}}</h4>
            </div>
            <div class="modal-body">
                <div class="videoWrapper">
                    <iframe width="560" height="349" ng-src="{{ singledrink.iframeVideo }}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            
          </div>
        </div>
      </div>
  </div>
</div>