<div ng-controller="SingleDrinkController">
    <div class="container">
        <div class="single-item">
            <div class="col-md-6">
            </div>
            <h3 class="single-item-name"> {{singledrink.name}}</h3>
            <img ng-src='http://assets.absolutdrinks.com/drinks/300x300/{{singledrink.id}}.png' ></img>
            <p>My Rating:</p>
            <p>Community Rating: {{singledrink.rating}}</p>
            <p class="item-description"> {{singledrink.story}} </p>
            <h3>Ingredients</h3>
            <p>Served in: {{singledrink.servedIn.id}}</p>
            <p>{{singledrink.ingredients[0].textPlain}}</p>
            <p>{{singledrink.ingredients[1].textPlain}}</p>
            <p>{{singledrink.ingredients[2].textPlain}}</p>
            <p>{{singledrink.ingredients[3].textPlain}}</p>
            <p>{{singledrink.ingredients[4].textPlain}}</p>
            <p>{{singledrink.ingredients[5].textPlain}}</p>
            <p>{{singledrink.ingredients[6].textPlain}}</p>
            <h3>Description</h3>
            <p>{{singledrink.descriptionPlain}}</p>
            <button>IVE DRANK DIS!</button>
        </div>
    </div>
</div>