<div ng-controller="userController">
    <div class="jumbotron" style="padding:0; opacity:0.9;">
        <img ng-src="../assets/whiskeyyyy.png" style="width:100%">
    </div>
    <div class='mysinglecontainer'>
        <div class="row col-xs-6 .col-sm-4" styles="margin-top: 3em;">
        <div class="card" style="float:left; margin-left: 16em;">
            <img ng-src="../assets/Dr_Rich_armchair.png" class="jumbotronImg">
            <div class="cardContainer">
                <h1>Johnny Doe</h1>
                <p class="job">Avid Drinker and Bar Tipper</p>
                <a href="https://twitter.com/?lang=en" target="_blank" style="color:black"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/" target="_blank" style="color:black"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.facebook.com/" target="_blank" style="color:black"><i class="fa fa-facebook"></i></a>
                <a href="https://www.snapchat.com/" target="_blank" style="color:black"><i class="fa fa-snapchat-ghost"></i></a>
            </div>
        </div>
        <div class='level'>
            <h1 class="singleLevel" id='levellabel'>Level: {{(achievements.length|unique:'name') /10| number:0 }} </h1>
            <div class='w3-grey levelcontainer w3-round'>
                Exp:{{achievements.length|unique:'name'}}
                <div class="w3-blue w3-round innerlvl" style="height:24px;width: {{achievements.length|unique:'name'}}%"></div>
            </div>
        </div>
    </div>
    <div class="achieves">
        <div class='achievesmiddle'>
                <h2 class="singlelargeuser">Favorite Drinks:</h2>
        <div class='achievesinner' style="font-size:20px;">
                
            <div ng-repeat="item in achievements | filter:{isFav:true} | unique:'name'">
                <div class='drink'>
                <h1 class='singleuserfont'>{{item.name}}</h1>
                <img class='drink-img-small' ng-src='http://assets.absolutdrinks.com/drinks/transparent-background-white/{{item.id}}.png' onerror= "this.src='https://vignette2.wikia.nocookie.net/payday/images/5/59/Empty.png/revision/latest?cb=20131030195648'; this.classList += ' default-image'"></img>
                </div>
            </div>
        </div>
        <h2 class="singlelargeuser">About Me:</h2>
                <div class='achievesinner'>
                        
                    <div id="userPtextcolor" style="font-size:20px; ">

                            <ol class='singleuserfont'>Nickname: Jack</ol>
                            <ol class='singleuserfont'>Favorite Bar: The Bloody Mary</ol>
                            <ol class='singleuserfont'>Favorite Bartender: Jessica</ol>
                            <ol class='singleuserfont'>Favorite Tip: 20%</ol>
                            <ol class='singleuserfont'>Favorite Song: "Knuck if you Buck"</ol>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>