#landing {
    background-image: url(../assets/base-image.jpg);
    height: 1010px;
    width: auto;
    margin-top: -70px;
}

#hometextedit {
    text-align: center;
    font-family: Lobster;
    font-size: 50px;
    margin-top: 3em;
}

.btn-default {
    border: 10px black solid;
    border-radius: 5px;
    height: 60px;
    width: 150px;
    margin-top: 10em;
}

#homebtn {
    background-color: black; 
    font-family: 'Bree Serif', serif;
    width: 165px;
    color: rgb(216, 210, 199);
    height: 52px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 3px;
}

.button-container {
    text-align: center;
}
