#landing {
    background-image: url(../assets/base-image.jpg);
    background-size: cover;
    height: 935px;
    width: auto;
    position: static;
}

#hometextedit {
    text-align: center;
    font-family: Lobster;
    font-size: 50px;
    margin-top: 2em;
}

.btn-default {
    border: 1px black solid;
    border-radius: 5px;
    height: 60px;
    width: 150px;
}

#homebtn {
    background-color: yellow; 
}


.button-container {
    text-align: center;
}

@font-face {
    font-family: Lobster;
    src: url(https://fonts.google.com/specimen/Lobster);
}