.container{
    min-height: 50vh;
    text-align: center;
    .drink{
        text-align: center;
        float: left
    }
    .drink-img-reg{
        border-radius: 50% ;
       
    }
}
.iframe{
    width:90%;
    height:65em;
}
.popup{
    margin:0 auto;
    width:80%;
}
.popup-title{
    text-align: center
}
.single-item{
    position: relative;
    text-align: center;
    top: 12vh;
    left: 70vh;
    background-image: url('../assets/oie_transparent (3).png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 125vh;
    height: 125vh;
}
.randompicture{
    height: 94vh;
    bottom: 46vh;
    position: absolute;
    left: -65vh;
    background-image: url('../assets/imageedit_7_2140349891.png');
        background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 23vh;
    //  left: -77vh;
} 
@font-face {
    font-family: mySecondFont;
    src: url(../assets/Ball-Pen-Regular.ttf);
}
.singlefont{
    font-family: mySecondFont;
    color: black;
    font-size: 4.7vh
}
.singlelarge{
    font-family: mySecondFont;
    color: black;
    font-size: 6.7vh
}
.singletitle{
       z-index: 4;
    font-family: mySecondFont;
    color: black;
    font-size: 11vh;
    position: relative;
    left: -61vh;
    top: 26vh;
    -ms-transform: rotate(-21deg);
    -webkit-transform: rotate(-21deg);
    transform: rotate(-21deg);
    max-width: 6em;
}
.Ingredients{
        position: relative;
    top: 2vh;
    left: 63vh;
        width: max-content;
    -ms-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg)
}
// .singlering{
//     background-image: url(../assets/imageedit_7_2140349891.png)
// }
@font-face {
    font-family: myThirdFont;
    src: url(../assets/Ball-Pen-Extra.ttf);
}
.detail{
   font-family: myThirdFont;
    color: black;
    font-size: 7vh;
    position: relative;
    left: -27vh;
    top: 10vh;
    -ms-transform: rotate(-21deg);
    -webkit-transform: rotate(-21deg);
    transform: rotate(-21deg);
}
.randominstructions{
        width: 40vh;
        position: relative;
       top: -78vh;
    left: 17vh;
    // margin-top: 6em;
}
.detailsmall{
       font-family: myThirdFont;
    color: black;
    font-size: 5vh;
    position: relative;
    /* left: -27vh; */
    top: -5vh;
}
.ingredientsinner{
    position: relative;
    top: -6vh;

}