.iframe{
    width:90%;
    height:65em;
}
.popup{
    margin:0 auto;
    width:80%;
}
.popup-title{
    text-align: center
}
.single-item{
    position: relative;
    text-align: center;
    top: 12vh;
    left: 70vh;
    background-image: url('../assets/oie_transparent (3).png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 125vh;
    height: 125vh;
}
.singlepicture{
    height: 94vh;
    bottom: 46vh;
    position: absolute;
    left: -77vh;
    background-image: url('../assets/imageedit_7_2140349891.png');
        background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 23vh;
} 
@font-face {
    font-family: mySecondFont;
    src: url(../assets/Ball-Pen-Regular.ttf);
}
.singlefont{
    font-family: mySecondFont;
    color: black;
    font-size: 4vh
}
.singlelarge{
    font-family: mySecondFont;
    color: black;
    font-size: 5vh
}
.singletitle{
    font-family: mySecondFont;
    color: black;
    font-size: 7vh;
    position: relative;
    left: -27vh;
    top: 12vh;
        -ms-transform: rotate(-21deg);
    -webkit-transform: rotate(-21deg);
    transform: rotate(-21deg);
}
.singleIngredients{
        position: relative;
    top: 1vh;
    left: 11vh;
    -ms-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg)
}
// .singlering{
//     background-image: url(../assets/imageedit_7_2140349891.png)
// }
@font-face {
    font-family: myThirdFont;
    src: url(../assets/Ball-Pen-Extra.ttf);
}
.detail{
   font-family: myThirdFont;
    color: black;
    font-size: 7vh;
    position: relative;
    left: -27vh;
    top: 10vh;
    -ms-transform: rotate(-21deg);
    -webkit-transform: rotate(-21deg);
    transform: rotate(-21deg);
}
.singleinstructions{
        width: 34vh;
        position: relative;
    top: -30vh;
    left: 17vh;
}
.detailsmall{
       font-family: myThirdFont;
    color: black;
    font-size: 5vh;
    position: relative;
    /* left: -27vh; */
    top: -5vh;
}
.ingredientsinner{
    position: relative;
    top: -6vh;

}
.singlepen{
        position: relative;
    height: 100vh;
    top: -178vh;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(-113deg);
}