.jumbotronImg {
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background: linear-gradient(rgb(49,20,12), whitesmoke);
  border-radius: 2px;
  float: left;
    top: -15em;
    left: 6em;
    position: relative;
    z-index: 100;
        border-radius: 0 0 3em 1em;

}

.job {
  color: grey;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
}

.achieves {
  height: 75vh;
  width: 80vh;
  float: right;
  margin-right: 11em;
    background: rgba(255,255,255,0.4);
    margin-top: 50em;
    position: relative;
    top: -58em;
    left: -3em;
}
.level{
  position: relative;
    height: 18em;
    width: 30em;
    left: 1em;
    background: white;
    z-index: 0;
    margin-left: 232px;
    border-radius: 0 0 3em 1em;
}
.levelcontainer{
  position: relative;
    top: 10em;
    width: 90%;
    text-align: center;
    margin: 0 auto;
        border-radius: 0 0 2em 1em;
}
.innerlvl{
      border-radius: 0 0 2em 1em;
}
#levellabel{
  position: relative;
    top: 4em;
    left: -8em;
    
}
.achievesinner{
  background: rgba(255, 255, 255, 0.80);
    width: 80%;
    margin: 0 auto;
    height: auto;
    overflow: auto;
    padding: 1em;
    height: 20em;
}
.achievesmiddle{
//   background: rgba(255,255,255,0.7);
       width: 80%;
    margin: 0 auto;
    height: auto;
        margin-top: 3em;
}

#userPtextcolor {
    color: black;
}