.jumbotron {
    background-image: url("../assets/profile-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    // left: 0;
    height: 50%;
    width: auto;
    // bottom: 20px;
}