#jumbotron {
    background-image: url("../assets/base-image.jpg");
    background-size: cover;
    background-position: center center; 
    left: 0;
    height: 72em;
    width: auto;
    bottom: 20px;
}

#imgpro {
    border-radius: 5px;
    margin-top : 5em;
    margin-right: 90em;
    border-radius: 5px;
}

#userfont {
    font-family: mySecondFont;
    font-size: 15vh;
    margin-top: 10em;
}
#useredit {
    font-family: mySecondFont;
    font-size: 5vh;  
    text-align: left;
    margin-top: 10px;
    margin-left: 160px;
}